<%=  popup_title "Edit Layanan" %>

<div id="RB_body" style="width: 250px;">
  <% form_for(@service) do |f| %>
    <%= f.error_messages %>
    <%= render :partial => "form", :locals => {:f => f} %>
    <p>
      <%= f.submit 'Update' %>
    </p>
  <% end %>
</div>