<ul class="autocomplete_list">
  <% for sale_balance in @sale_balances -%>
     <li onclick="$('sale_id_from_invoice').value =<%= sale_balance.id%>;"  style="width: 350;" class="autocomplete_item"><%= sale_balance.invoice_number %></li>
  <% end -%>
</ul>