<div style="float: left;margin: 0px 20px 5px 5px;">
    Nama Perusahaan <br />
    <%= f.text_field :company_name %> <br />
    Penanda tangan <br />
    <%= f.text_field :signatory %><br />
    Jabatan
    <%= f.text_field :position %><br />
</div>