<table>
  <tr>
    <td>Base Currency</td>
    <td> : </td>
    <td> <%= @exchange.base_currency %> </td>
  </tr>
  <tr>
    <td>Currency</td>
    <td> : </td>
    <td> <%= @exchange.currency %> </td>
  </tr>
  <tr>
    <td>Rate</td>
    <td> : </td>
    <td> <%= f.text_field(:rate)%> </td>
  </tr>
</table>