<%=  popup_title "Edit Rekening Aktiva" %>

<div id="RB_body" style="width: 300px;">
<% form_for(:adjustment_account, @adjustment_account, :url => accounting_adjustment_account_path(@adjustment_account), :html=> {:method=>'put'})  do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "update" %>  
  </p>
<% end %>
</div>