<%= popup_title "Ubah Modul" %>

<div id="RB_body" style="width: 500px;">
<% form_for(:modul, @modul, :url => {:action => 'update_modul', :id => params[:id]}, :html=> {:method=>'put'}) do |f| %>
  <%= f.error_messages %>
  <label>Nama Modul:</label>
  <%= f.text_field "name" %> <br />
  <label>Nama Controller:</label>
  <%= f.text_field "controller_name" %> <br />
  <br/><br/>
  <p>
    <%= f.submit "Simpan" %>
  </p>
<% end %>
</div>
