<%=  popup_title "Input Transaksi Adjustment" %>
<div style="max-height:410px; overflow-x:hidden;overflow-y:auto;">
<div id="RB_body" style="width: 300px;">
<% form_for(:adjustment_balance, @adjustment_balance, :url => {:action => 'create'})  do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Simpan" %>
  </p>
<% end %>
</div>
</div>