<%=  popup_title "Edit Tipe Kas" %>

<div id="RB_body" style="width: 350px;">
<% form_for(:accounting_bank_cash, @accounting_bank_cash, :url => accounting_bank_cash_path(@accounting_bank_cash), :html=> {:method=>'put'})  do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
</div>