<%=  popup_title "Edit Transaksi Pembelian" %>
<div style="max-height:400px; overflow-x:hidden;overflow-y:auto;">
  <div id="RB_body" style="width: 700px;">
<% form_for(:purchase_balance, @purchase_balance, :url => accounting_purchase_balance_path(@purchase_balance), :html=> {:method=>'put'})  do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form_edit_purchase', :locals => { :f => f } %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
</div>
</div>