<%=  popup_title "Input Transaksi Kas Dollar" %>
<div id="RB_body" style="width: 500px;">
  <% form_for(:dollar_balance, @dollar_balance, :url => {:action => 'create'}) do |f| %>
    <%= f.error_messages %>
    <%= render :partial => 'form', :locals => { :f => f, :dollar_balance => @dollar_balance } %>
    <div style="clear: both;"></div>
    <%= f.submit "Simpan" %>
  <% end %>
</div>