<%=  popup_title "Input Adjustment Accounts" %>

<div id="RB_body" style="width: 300px;">
<% form_for(:adjustment_account, @adjustment_account, :url => {:action => 'create'})  do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Simpan" %>
  </p>
<% end %>
</div>