<%=  popup_title "Input Jenis Pembayaran" %>

<div id="RB_body" style="width: 245px;">
<% form_for(:terms_of_payment, @terms_of_payment, :url => {:action => 'create'})  do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Simpan" %>  
  </p>
<% end %>
</div>