<%=  popup_title "Input Account" %>

<div id="RB_body" style="width: 350px;">
<% form_for(:accounting_cash_flow_debit_credit, @accounting_cash_flow_debit_credit, :url => {:action => 'create'})  do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Simpan" %>  
  </p>
<% end %>
</div>