<%=  popup_title "Edit Tipe Debit Credit Penjualan" %>

<div id="RB_body" style="width: 350px;">
<% form_for(:sale_debit_credit, @sale_debit_credit, :url => accounting_sale_debit_credit_path(@sale_debit_credit), :html=> {:method=>'put'})  do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit "Update" %>  
  </p>
<% end %>
</div>