<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Faktur Pajak</title>
    <%= stylesheet_link_tag "faktur-pajak", :media => :all %>
    <%= javascript_include_tag :defaults  %>
  </head>
  <body>
    <div id="wrapper">
      <div class="ttl">Faktur Pajak</div>
      <%= yield %>
      <div class="tt-foot">*) Coret yang tidak perlu</div>
      <input id="print" type="button" onclick="$('print').remove(); window.print(); window.close();" value="Cetak" />
    </div>
  </body>
</html>
